主页
<br/>
<button id="btn" value="登出">登出</button>
<br/>
<% if(success){ %>
<div><%= success %></div>
<% } %>
<% if(error){ %>
<div><%= error %></div>
<% } %>
<script src="jquery-1.11.3.js"></script>
<script type="text/javascript">
    $('#btn').click(function () {
        $.get('/logout', function (data) {
            if (data == '1') {
                location.href = '/login';
            }
        })
    })
</script>