<form method="post">
    <table border="0">
        <tr>
            <td>用户名</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>确认密码</td>
            <td><input type="password" name="passwordConfirm"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="注册"/></td>
        </tr>
    </table>
</form>

<% if(success){ %>
<div><%= success %></div>
<% } %>
<% if(error){ %>
<div><%= error %></div>
<% } %>